{% extends "themes/base_visitor.html.twig" %}

{% block title %}Page d'accueil{% endblock %}

{% block description %}Hello! C'est Jean Dupont{% endblock %}

{% block keywords %}Blog, Jean Dupont, Santé, Medecine{% endblock %}

{% block main %}
    <main>
        <h1>Page d'aacueil</h1>
    </main>
{% endblock %}